{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.app'|trans }}
{% endblock %}

{% block body %}
    <div class="jumbotron">
    <div class="container">
        <h1 class="display-3">{{ 'title.info'|trans }}</h1><br>
        <p>Autorem niniejszego serwisu jest Daria Muchowska.</p>
        <p>Serwis ten stanowi integralną część pracy licencjackiej (kierunek: Elektroniczne przetwarzanie informacji), przygotowanej pod kierunkiem dr. hab. Janusza Jurka, prof. UJ na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.</p>
    </div>
        <div class="container">
            <h1 class="display-3">{{ 'title.pics'|trans }}</h1><br>
            <p>Grafika użyta do stworzenia portalu pochodzi z darmowych zasobów strony internetowej canva.com oraz z Google Grafika.</p>
            <p>Wszystkie zdjęcia pochodzące z Google Grafika posiadają licencję Creative Commons.</p>
        </div>
    </div>

    </main>

{% endblock body %}